<h2><%= @task.title %></h2>
<p><em>Details</em>: <%= @task.details %></p>
<p><em>Completed</em>: <%= @task.completed %></p>
<%= link_to "Edit task", edit_task_path(@task) %>
<br>
<%= link_to "Back to list", tasks_path %>
